# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [46]:
# Your code here
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.

%matplotlib inline
import numpy as np
import pandas as pd
from IPython.display import Image
from IPython.display import HTML
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

In [62]:
df= pd.read_csv("file1.csv")

first_data = df.head()

print(first_data)
print(df)

#df.Info()
#df.count())
#df.describe())
#df.mean())
#data_df.dtypes()

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
     Customer          ST GENDER             Education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     Customer Lifetime Value   Income  Monthly Premium Auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     Number of Open Complaints     Policy Type  Vehicle Class  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      Total Claim Amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [48]:
#1.Identify the dimensions of the dataset by determining the number of rows and columns it contains.

n_columns = df.shape[1]
n_rows = df.shape[0]
print("the number of rows:", n_columns)
print("the number of columns:", n_rows)

#[]

#dtypes

the number of rows: 11
the number of columns: 4008

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [65]:
#2.Determine the data types of each column and evaluate whether they are appropriate for 
#the nature of the variable. You should also provide suggestions for fixing any 
#incorrect data types.

df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace("%"," ")
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype(dtype ="float64")

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   float64
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [43]:
#Identify the number of unique values for each column and 
#determine which columns appear to be categorical. 

#You should also  describe the unique values of each categorical column and 
#the range of values for numerical columns, and give your insight

In [24]:
#Unique Values
Customer_unique = df['Customer'].nunique()
print("Unique values for Customer:",Customer_unique)

#Categorical Variable
df['Customer']=pd.Categorical(df['Customer'])

Unique values for Customer: 1071

In [25]:
#Unique Values
ST_unique = df['ST'].nunique()
print("Unique values for ST:",ST_unique)

#Categorical Variable
df['ST']=pd.Categorical(df['ST'])

Unique values for ST: 8

In [36]:
#Unique Values

GENDER_unique = df['GENDER'].nunique()
print("Unique values for GENDER:",GENDER_unique)


#Categorical Variable
data_df['GENDER']=pd.Categorical(df['GENDER'])

Unique values for GENDER: 5

In [35]:
#Unique Values

Education_unique = df['Education'].nunique()
print("Unique values for Education:",Education_unique)

#Categorical Variable
df['Education']=pd.Categorical(df['Education'])

Unique values for Education: 6

In [34]:
#Unique Values
Customer_Lifetime_Value_unique = df['Customer Lifetime Value'].nunique()
print("Unique values for Customer:",Customer_Lifetime_Value_unique)

#Categorical Variable

df['Customer Lifetime Value']=pd.Categorical(df['Customer Lifetime Value'])

Unique values for Customer: 1027

In [33]:
#Unique Values

Income_unique =df['Income'].nunique()
print("Unique values for Income:",Income_unique)

#Categorical Variable

df['Income']=pd.Categorical(df['Income'])

Unique values for Income: 774

In [32]:
#Unique Values

Monthly_Premium_Auto_unique= df['Monthly Premium Auto'].nunique()
print("Monthly Premium Auto:",Monthly_Premium_Auto_unique)


#Categorical Variable
df['Monthly Premium Auto']=pd.Categorical(df['Monthly Premium Auto'])

Monthly Premium Auto: 132

In [39]:
#Unique Values

Number_of_Open_Complaints_unique = df["Number of Open Complaints"].nunique()
                                      
print("Number of Open Complaints:",Number_of_Open_Complaints_unique)

                                      
#Categorical Variable
df['Number of Open Complaints']=pd.Categorical(df['Number of Open Complaints'])

Number of Open Complaints: 6

In [40]:
#Unique Values

Policy_Type_unique=df['Policy Type'].nunique()
print("Policy Type:",Policy_Type_unique)


#Categorical Variable
data_df['Policy Type']=pd.Categorical(df['Policy Type'])

Policy Type: 3

In [41]:
#Unique Values

Vehicle_Class_unique=data_df['Vehicle Class'].nunique()
print("Vehicle Class:",Policy_Type_unique)

#Categorical Variable
data_df['Vehicle Class']=pd.Categorical(df['Vehicle Class'])

Vehicle Class: 3

In [42]:
#Unique Values

Total_Claim_Amount_unique=data_df['Total Claim Amount'].nunique()
print("Total Claim Amount:",Policy_Type_unique)

#Categorical Variable
data_df['Total Claim Amount']=pd.Categorical(df['Total Claim Amount'])

Total Claim Amount: 3

In [56]:
#Compute summary statistics such as mean, median, mode, 
#tandard deviation, and quartiles to understand the central 
#tendency and distribution of the data for numerical columns. You should also provide
#your conclusions based on these summary statistics



Customer_Life_stats = df['Customer Lifetime Value'].describe()
print(Customer_Life_stats)

Income_stats = df['Income'].describe()
print(Income_stats)

Monthly_Premium_stats = df['Monthly Premium Auto'].describe()
print(Monthly_Premium_stats)

Total_Amount_stats = df['Total Claim Amount'].describe()
print(Total_Amount_stats)

count           1068
unique          1027
top       445811.34%
freq               4
Name: Customer Lifetime Value, dtype: object
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [ ]:
#Compute summary statistics for categorical columns and 
#providing your conclusions based on these statistics.

In [67]:
Customer_stats = df['Customer'].value_counts()
print(Customer_stats)

ST_stats = df['ST'].value_counts()
print(ST_stats)

GENDER_stats = df['GENDER'].value_counts()
print(GENDER_stats)

Education_stats = df['Education'].value_counts()
print(GENDER_stats)


Number_of_Open_Complaints_stats = df['Number of Open Complaints'].value_counts()
print(Number_of_Open_Complaints_stats )

Policy_Type_stats = df['Policy Type'].value_counts()
print(Policy_Type_stats)

Vehicle_Class_stats = df['Vehicle Class'].value_counts()
print(Vehicle_Class_stats)

RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: Customer, Length: 1071, dtype: int64
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64
F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64
F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [75]:
# Your code here

data_ST = pd.Series(df['ST']).value_counts()
print(data_ST)


data_ST = pd.Series(df['ST']).value_counts().tail(5)


print(data_ST)

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here