# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [35]:
import pandas as pd
import numpy as np

### Loading Data

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [20]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data info

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

### Data Type

In [22]:
column_types = df.dtypes

In [23]:
column_types

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

### ðŸ‘‰Column Names

In [24]:
column_names = df.columns

In [25]:
column_names

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

### Make the column names lower case

In [26]:
def lower_case_column_names(df):
    df.columns=[i.lower() for i in df.columns]
    return df

In [27]:
df = lower_case_column_names(df)

In [28]:
df

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Renaming columns

In [29]:
def rename_columns(df):
    df.rename(columns={'customer':'customer_id','st':'state'}, inplace=True )
    return df

In [30]:
df = rename_columns(df)

In [31]:
df

,customer_id,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [32]:
# Your code here

df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [36]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'Male'
    elif x in ['F', 'female',"Femal"]:
        return 'Female'
    else:
        return np.nan

In [37]:
df['gender'] = list(map(clean_gender, df['gender']))

In [38]:
df.gender.value_counts()

Female    502
Male      452
Name: gender, dtype: int64

#### Other option:

In [ ]:
df['gender'] = df['gender'].replace(['F', 'Femal', 'female'], 'female')
df['gender'] = df['gender'].replace(['M', 'Male'], 'male')

In [ ]:
df['gender'].unique()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [40]:
#df["customer lifetime value"] = df["customer lifetime value"].apply(lambda x: x.replace('%', '') if x == 'NaN' else x)

df["customer lifetime value"] = df["customer lifetime value"].str.replace("%","")

In [41]:
df["customer lifetime value"] = df["customer lifetime value"].astype(dtype ="float64")

In [42]:
#df["customer lifetime value"] = pd.to_numeric(df["customer lifetime value"])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

### Identify any columns with null or missing values

In [45]:
columns_with_missing_values = df.columns[df.isnull().any()]

In [46]:
columns_with_missing_values

Index(['customer_id', 'state', 'gender', 'education',
       'customer lifetime value', 'income', 'monthly premium auto',
       'number of open complaints', 'policy type', 'vehicle class',
       'total claim amount'],
      dtype='object')

 ### Identify how many null values each column has

In [49]:
column_null_counts = df.isnull().sum()

In [50]:
column_null_counts

customer_id                  2937
state                        2937
gender                       3054
education                    2937
customer lifetime value      2940
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
dtype: int64

### Other option

In [ ]:
column_null_counts02 = df.isna().sum()
print(column_null_counts)

### ðŸ‘‰note:
isna and isnull work the same

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

#### I decided for: Drop the rows or columns with null values

Dropping columns with more null values -- analyst decides the threshold value

note: that the threshold values are usually higher percentages, for eg if 70% or more values in a column are missing, then its a good idea to drop those columns

In [51]:
column_null_counts = pd.DataFrame(round(df.isna().sum()/len(df),4)*100)
column_null_counts = column_null_counts.reset_index()
column_null_counts.columns = ['header_name', 'percent_nulls']
column_null_counts

                  header_name  percent_nulls
0                 customer_id          73.28
1                       state          73.28
2                      gender          76.20
3                   education          73.28
4     customer lifetime value          73.35
5                      income          73.28
6        monthly premium auto          73.28
7   number of open complaints          73.28
8                 policy type          73.28
9               vehicle class          73.28
10         total claim amount          73.28

In [52]:
df= df.dropna(subset = "customer_id")

Doenst make sense keep the ID values, we can not assume data from a person! we can not gess a number ID, or calculate the average using the other ids

### Verify that your strategy has successfully handled the null values.

In [53]:
df.isna().sum()

customer_id                    0
state                          0
gender                       117
education                      0
customer lifetime value        3
income                         0
monthly premium auto           0
number of open complaints      0
policy type                    0
vehicle class                  0
total claim amount             0
dtype: int64

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values

### ðŸ‘‰note:
You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

In [54]:
mode_gender = df['gender'].mode()[0]

In [55]:
df['gender'].fillna(mode_gender, inplace=True)

C:\Users\espan\AppData\Local\Temp\ipykernel_57680\1773504133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'].fillna(mode_gender, inplace=True)

In [56]:
df.isna().sum()

customer_id                  0
state                        0
gender                       0
education                    0
customer lifetime value      3
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
dtype: int64

In [57]:
mean_customer_life = df['customer lifetime value'].mean()

In [58]:
df['customer lifetime value'].fillna(mean_customer_life, inplace=True)

C:\Users\espan\AppData\Local\Temp\ipykernel_57680\4046908903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer lifetime value'].fillna(mean_customer_life, inplace=True)

In [59]:
df.isna().sum()

customer_id                  0
state                        0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
dtype: int64

### ðŸ‘‰Extra important code to keep in mind:

Separamos nuestra data por el tipo de data!

In [60]:
df.select_dtypes('object')

,customer_id,state,gender,education,number of open complaints,policy type,vehicle class
0,RB50392,Washington,Female,Master,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,Female,Bachelor,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,Female,Bachelor,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,Male,Bachelor,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,Male,High School or Below,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...
1066,TM65736,Oregon,Male,Master,1/1/00,Personal Auto,Four-Door Car
1067,VJ51327,Cali,Female,High School or Below,1/2/00,Personal Auto,SUV
1068,GS98873,Arizona,Female,Bachelor,1/0/00,Personal Auto,Four-Door Car
1069,CW49887,California,Female,Master,1/0/00,Special Auto,SUV
1070,MY31220,California,Female,College,1/0/00,Personal Auto,Two-Door Car

In [61]:
df.select_dtypes('float64')

,customer lifetime value,income,monthly premium auto,total claim amount
0,7.936903e+05,0.0,1000.0,2.704934
1,6.979536e+05,0.0,94.0,1131.464935
2,1.288743e+06,48767.0,108.0,566.472247
3,7.645862e+05,0.0,106.0,529.881344
4,5.363077e+05,36357.0,68.0,17.269323
...,...,...,...,...
1066,3.059550e+05,38644.0,78.0,361.455219
1067,2.031500e+06,63209.0,102.0,207.320041
1068,3.239125e+05,16061.0,88.0,633.600000
1069,4.626801e+05,79487.0,114.0,547.200000
1070,8.997040e+05,54230.0,112.0,537.600000

### ðŸ‘‰Notes:

### To_numeric

Podemos usar para convertir string data to float

### _get_numeric_data()

Para obtener toda la data que sea numerica from our df

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [ ]:
# Your code here

duplicate_rows = df.duplicated()

In [ ]:
duplicate_rows

In [ ]:
df[duplicate_rows]

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
def rename_columns_to_lower(df):
    df = df.rename(columns=str.lower)
    return df

def rename_columns(df):
    df.rename (columns = {'customer':'customer_id', 'st':'state'}, inplace=True)
    return df

def replace_percentage_in_column(df, column_name):
    df[column_name] = df[column_name].str.replace("%", " ")
    return df

def extract_single_character(df, column_name):
    df[column_name] = df[column_name].str[2]
    return df

def get_unique_values(df, column_name):
    unique_values = df[column_name].unique()
    return unique_values

def replace_gender_values(df):
    df['gender'] = df['gender'].replace(['F', 'Femal', 'female'], 'female')
    df['gender'] = df['gender'].replace(['M', 'Male'], 'male')
    return df

def get_unique_gender_values(df):
    unique_genders = df['gender'].unique()
    return unique_genders

def convert_customer_lifetime_value_to_float(df, column_name):
    df[column_name] = df[column_name].astype("float64")
    return df

def count_nan_values(df):
    nan_count = df.isna().sum()
    return nan_count


def calculate_percent_nulls(df):
    nulls_df = pd.DataFrame(round(df.isna().sum() / len(df), 4) * 100)
    nulls_df = nulls_df.reset_index()
    nulls_df.columns = ['header_name', 'percent_nulls']
    return nulls_df

def drop_rows_with_null_customer_id(df):
    df = df.dropna(subset=["customer_id"])
    return df

def count_null_values(df):
    null_count = df.isna().sum()
    return null_count

def reset_dataframe_index(df):
    df = df.reset_index(drop=True)
    return df

def get_mode_value(df, column_name):
    mode_value = df[column_name].mode()[0]
    return mode_value

def fillna_with_mode(df, column_name):
    mode_value = df[column_name].mode()[0]
    df[column_name].fillna(mode_value, inplace=True)
    return df

def calculate_mean_value(df, column_name):
    mean_value = df[column_name].mean()
    return mean_value

def fillna_with_mean(df, column_name):
    mean_value = df[column_name].mean()
    df[column_name].fillna(mean_value, inplace=True)
    return df

def check_duplicates(df):
    duplicates = df.duplicated()
    return duplicates

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here

Customer_Life_stats = df['customer lifetime value'].describe()
print(Customer_Life_stats)

In [ ]:
Customer_Life_stats = df['customer lifetime value'].describe()
print(Customer_Life_stats)

In [ ]:
Customer_Life_stats = df['policy type'].describe()
print(Customer_Life_stats)

In [63]:
df.columns
df

,customer_id,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,Female,Master,7.936903e+05,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,Male,Bachelor,7.645862e+05,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,Male,Master,3.059550e+05,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,Female,High School or Below,2.031500e+06,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,Female,Bachelor,3.239125e+05,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,Female,Master,4.626801e+05,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,Female,College,8.997040e+05,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [73]:
claim_amount_threshold=df['total claim amount'].quantile(q=0.75)
print(q)

404853.45999999996

In [74]:

lifetime_value_threshold=df['customer lifetime value'].quantile(q=0.25)
print(q)

404853.45999999996

In [75]:
filtered_df = df[(df['total claim amount'] > claim_amount_threshold) & (df['customer lifetime value'] < lifetime_value_threshold)]

In [76]:
filtered_df

,customer_id,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
17,OE15005,Cali,Female,College,394524.16,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,Female,Bachelor,245019.10,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,Female,Bachelor,394637.21,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
38,CM61827,Oregon,Female,Bachelor,309003.41,0.0,90.0,1/0/00,Personal Auto,Two-Door Car,648.000000
42,IL19217,California,Female,Bachelor,393900.64,60021.0,99.0,1/0/00,Personal Auto,Four-Door Car,882.871945
62,FG63582,Oregon,Female,Bachelor,333976.49,0.0,94.0,1/0/00,Personal Auto,Two-Door Car,863.327324
135,MS41162,AZ,Female,High School or Below,402296.35,0.0,117.0,1/0/00,Personal Auto,SUV,975.107098
140,DS81757,Oregon,Male,College,247012.12,0.0,74.0,1/0/00,Personal Auto,Two-Door Car,721.242206
158,KA61892,Arizona,Male,College,387364.70,28142.0,105.0,1/0/00,Personal Auto,Sports Car,701.708239
160,ND87334,California,Male,High School or Below,228759.69,0.0,63.0,1/0/00,Corporate Auto,Two-Door Car,679.368378
170,TS19868,California,Male,College,241313.97,27501.0,63.0,1/0/00,Personal Auto,Four-Door Car,542.319401
184,AB13432,California,Male,Bachelor,373583.81,0.0,110.0,1/0/00,Personal Auto,SUV,792.000000
204,FL34139,California,Male,High School or Below,368811.09,0.0,63.0,1/3/00,Personal Auto,Four-Door Car,669.682001
250,IA63417,Arizona,Female,High School or Below,400151.91,19782.0,108.0,1/0/00,Personal Auto,Two-Door Car,773.470977
269,VZ51506,Arizona,Female,High School or Below,359531.29,0.0,103.0,1/0/00,Corporate Auto,Sports Car,741.600000
279,OH60605,Oregon,Female,High School or Below,365253.24,39679.0,92.0,1/0/00,Personal Auto,Two-Door Car,641.388616
304,RR77985,Oregon,Female,Bachelor,288774.23,0.0,80.0,1/0/00,Personal Auto,Four-Door Car,676.944023
388,JF36291,California,Male,College,387364.70,28142.0,105.0,1/0/00,Personal Auto,Sports Car,701.708239
415,ZF84449,Oregon,Female,College,372672.80,0.0,112.0,1/1/00,Special Auto,Sports Car,806.400000
448,NL93182,Nevada,Male,Bachelor,254945.00,0.0,78.0,1/0/00,Corporate Auto,Four-Door Car,845.654042
450,WE68644,Oregon,Female,Bachelor,380392.18,20325.0,100.0,1/0/00,Personal Auto,Sports Car,668.293970
467,AU96286,Oregon,Female,Bachelor,316765.84,0.0,92.0,1/0/00,Corporate Auto,Four-Door Car,662.400000
486,FY51713,AZ,Female,Bachelor,357076.05,56168.0,88.0,1/0/00,Personal Auto,Four-Door Car,614.675906
500,XN11823,Nevada,Female,Bachelor,376446.51,92600.0,94.0,1/0/00,Corporate Auto,Two-Door Car,842.437850
502,PX17116,Nevada,Male,College,362345.42,0.0,111.0,1/2/00,Corporate Auto,SUV,1171.931170
565,XS12556,California,Female,College,368309.99,0.0,101.0,1/0/00,Corporate Auto,Sports Car,564.466556
590,UK41984,Arizona,Female,Doctor,383960.61,0.0,112.0,1/2/00,Personal Auto,SUV,537.600000
593,ZK21724,Oregon,Female,High School or Below,401654.20,0.0,111.0,1/0/00,Personal Auto,SUV,799.200000
638,DM95829,California,Male,College,252395.96,16244.0,68.0,1/0/00,Personal Auto,Two-Door Car,623.223617
645,JA41698,Nevada,Male,Bachelor,309953.80,0.0,102.0,1/5/00,Corporate Auto,SUV,862.762957
669,ED50963,California,Female,High School or Below,268886.40,32808.0,68.0,1/1/00,Personal Auto,Four-Door Car,541.695658
709,NZ15548,Oregon,Male,Bachelor,402381.44,41833.0,103.0,1/0/00,Personal Auto,Four-Door Car,643.826716
788,TE13577,Oregon,Female,College,231973.59,0.0,64.0,1/0/00,Personal Auto,Four-Door Car,632.715382
853,TV25678,WA,Male,College,354090.43,0.0,101.0,1/0/00,Personal Auto,SUV,727.200000
891,KJ87930,Cali,Female,Bachelor,388650.48,0.0,112.0,1/0/00,Corporate Auto,SUV,1185.988301
908,XM72420,Arizona,Female,High School or Below,391936.67,66676.0,97.0,1/0/00,Personal Auto,Four-Door Car,558.099357
949,TD10493,Oregon,Female,High School or Below,289873.27,0.0,96.0,1/4/00,Personal Auto,Four-Door Car,691.200000
1019,OT52034,Cali,Male,Bachelor,386477.68,24204.0,99.0,1/1/00,Personal Auto,Four-Door Car,707.303416
1022,UI73201,Cali,Male,College,366737.50,62375.0,92.0,1/0/00,Personal Auto,Two-Door Car,618.630955
1068,GS98873,Arizona,Female,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000

In [77]:
selected_columns= df[['total claim amount','customer lifetime value']]

In [78]:
describe_selected_columns= selected_columns.describe

In [79]:
describe_selected_columns

<bound method NDFrame.describe of       total claim amount  customer lifetime value
0               2.704934             7.936903e+05
1            1131.464935             6.979536e+05
2             566.472247             1.288743e+06
3             529.881344             7.645862e+05
4              17.269323             5.363077e+05
...                  ...                      ...
1066          361.455219             3.059550e+05
1067          207.320041             2.031500e+06
1068          633.600000             3.239125e+05
1069          547.200000             4.626801e+05
1070          537.600000             8.997040e+05

[1071 rows x 2 columns]>

In [68]:
q=df['total claim amount'].quantile(q=0.75)
print(q)

#q=df['total claim amount'].quantile(q=0.50)
#print(q)


q=df['customer lifetime value'].quantile(q=0.25)
print(q)

#mean_value = df['customer lifetime value'].mean()

#print(mean_value)


#Analyse this!!!
#str=df.loc[df['ST']>q] 

#str=str.reset_index(drop=True)

532.8
354.729129
202.157702
404.9869094089639