# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [4]:
import pandas as pd
import numpy as np

### Loading Data

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [6]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data info

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

### Data Type

In [29]:
column_types = df.dtypes

In [30]:
column_types

customer_id                   object
state                         object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

### ðŸ‘‰Column Names

In [31]:
column_names = df.columns

In [32]:
column_names

Index(['customer_id', 'state', 'gender', 'education',
       'customer lifetime value', 'income', 'monthly premium auto',
       'number of open complaints', 'policy type', 'vehicle class',
       'total claim amount'],
      dtype='object')

### Make the column names lower case

In [33]:
def lower_case_column_names(df):
    df.columns=[i.lower() for i in df.columns]
    return df

In [34]:
df = lower_case_column_names(df)

In [35]:
df

,customer_id,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,male,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,male,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Renaming columns

In [36]:
def rename_columns(df):
    df.rename(columns={'customer':'customer_id','st':'state'}, inplace=True )
    return df

In [37]:
df = rename_columns(df)

In [38]:
df

,customer_id,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,male,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,male,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [39]:
# Your code here

df.gender.unique()

array([nan, 'Female', 'male'], dtype=object)

In [40]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'Male'
    elif x in ['F', 'female',"Femal"]:
        return 'Female'
    else:
        return np.nan

In [41]:
df['gender'] = list(map(clean_gender, df['gender']))

In [42]:
df.gender.value_counts()

Series([], Name: gender, dtype: int64)

#### Other option:

In [43]:
df['gender'] = df['gender'].replace(['F', 'Femal', 'female'], 'female')
df['gender'] = df['gender'].replace(['M', 'Male'], 'male')

In [44]:
df['gender'].unique()

array([nan])

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     0 non-null      float64
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [46]:
df["customer lifetime value"] = df["customer lifetime value"].apply(lambda x: x.replace('%', '') if type(x) == str else x)

#df["customer lifetime value"] = df["customer lifetime value"].str.replace("%","")

In [47]:
#df["customer lifetime value"] = df["customer lifetime value"].apply(lambda x: x.replace('%', '')x.rstrip  if  else x)

In [48]:
df["number of open complaints"] = df["number of open complaints"].apply(lambda x: x.split("/")[1] if type(x)==str  else x)

In [49]:
df["customer lifetime value"] = df["customer lifetime value"].astype(dtype ="float64")

In [50]:
df["number of open complaints"] = df["number of open complaints"].astype(dtype ="float64")

In [51]:
#df["customer lifetime value"] = pd.to_numeric(df["customer lifetime value"])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     0 non-null      float64
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   float64
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(6), object(5)
memory usage: 344.6+ KB

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

### Identify any columns with null or missing values

In [ ]:
columns_with_missing_values = df.columns[df.isnull().any()]

In [ ]:
columns_with_missing_values

 ### Identify how many null values each column has

In [68]:
column_null_counts = df.isnull().sum()

In [ ]:
column_null_counts

### Other option

In [ ]:
column_null_counts02 = df.isna().sum()
print(column_null_counts)

### ðŸ‘‰note:
isna and isnull work the same

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

#### I decided for: Drop the rows or columns with null values

Dropping columns with more null values -- analyst decides the threshold value

note: that the threshold values are usually higher percentages, for eg if 70% or more values in a column are missing, then its a good idea to drop those columns

In [ ]:
column_null_counts = pd.DataFrame(round(df.isna().sum()/len(df),4)*100)
column_null_counts = column_null_counts.reset_index()
column_null_counts.columns = ['header_name', 'percent_nulls']
column_null_counts

### Verify that your strategy has successfully handled the null values.

In [ ]:
df= df.dropna(subset = "customer_id")

Doenst make sense keep the ID values, we can not assume data from a person! we can not gess a number ID, or calculate the average using the other ids

In [ ]:
df.isna().sum()

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values

### ðŸ‘‰note:
You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

In [70]:
mode_gender = df['gender'].mode()[0]

KeyError: 0

In [71]:
df['gender'].fillna(mode_gender, inplace=True)

NameError: name 'mode_gender' is not defined

In [ ]:
df.isna().sum()

In [ ]:
mean_customer_life = df['customer lifetime value'].mean()

In [ ]:
df['customer lifetime value'].fillna(mean_customer_life, inplace=True)

In [69]:
df.isna().sum()

customer_id                  2937
state                        2937
gender                       4008
education                    2937
customer lifetime value      2940
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
dtype: int64

### ðŸ‘‰Extra important code to keep in mind:

Separamos nuestra data por el tipo de data!

In [ ]:
df.select_dtypes('object')

In [ ]:
df.select_dtypes('float64')

### ðŸ‘‰Notes:

### To_numeric

Podemos usar para convertir string data to float

### _get_numeric_data()

Para obtener toda la data que sea numerica from our df

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [ ]:
# Your code here

duplicate_rows = df.duplicated()

In [ ]:
duplicate_rows

In [ ]:
df[duplicate_rows]

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
def rename_columns_to_lower(df):
    df = df.rename(columns=str.lower)
    return df

def rename_columns(df):
    df.rename (columns = {'customer':'customer_id', 'st':'state'}, inplace=True)
    return df

def replace_percentage_in_column(df, column_name):
    df[column_name] = df[column_name].str.replace("%", " ")
    return df

def extract_single_character(df, column_name):
    df[column_name] = df[column_name].str[2]
    return df

def get_unique_values(df, column_name):
    unique_values = df[column_name].unique()
    return unique_values

def replace_gender_values(df):
    df['gender'] = df['gender'].replace(['F', 'Femal', 'female'], 'female')
    df['gender'] = df['gender'].replace(['M', 'Male'], 'male')
    return df

def get_unique_gender_values(df):
    unique_genders = df['gender'].unique()
    return unique_genders

def convert_customer_lifetime_value_to_float(df, column_name):
    df[column_name] = df[column_name].astype("float64")
    return df

def count_nan_values(df):
    nan_count = df.isna().sum()
    return nan_count


def calculate_percent_nulls(df):
    nulls_df = pd.DataFrame(round(df.isna().sum() / len(df), 4) * 100)
    nulls_df = nulls_df.reset_index()
    nulls_df.columns = ['header_name', 'percent_nulls']
    return nulls_df

def drop_rows_with_null_customer_id(df):
    df = df.dropna(subset=["customer_id"])
    return df

def count_null_values(df):
    null_count = df.isna().sum()
    return null_count

def reset_dataframe_index(df):
    df = df.reset_index(drop=True)
    return df

def get_mode_value(df, column_name):
    mode_value = df[column_name].mode()[0]
    return mode_value

def fillna_with_mode(df, column_name):
    mode_value = df[column_name].mode()[0]
    df[column_name].fillna(mode_value, inplace=True)
    return df

def calculate_mean_value(df, column_name):
    mean_value = df[column_name].mean()
    return mean_value

def fillna_with_mean(df, column_name):
    mean_value = df[column_name].mean()
    df[column_name].fillna(mean_value, inplace=True)
    return df

def check_duplicates(df):
    duplicates = df.duplicated()
    return duplicates

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here

Customer_Life_stats = df['customer lifetime value'].describe()
print(Customer_Life_stats)

In [ ]:
Customer_Life_stats = df['customer lifetime value'].describe()
print(Customer_Life_stats)

In [ ]:
Customer_Life_stats = df['policy type'].describe()
print(Customer_Life_stats)

In [ ]:
df.columns
df

In [ ]:
claim_amount_threshold=df['total claim amount'].quantile(q=0.75)
print(q)

In [ ]:

lifetime_value_threshold=df['customer lifetime value'].quantile(q=0.25)
print(q)

In [ ]:
filtered_df = df[(df['total claim amount'] > claim_amount_threshold) & (df['customer lifetime value'] < lifetime_value_threshold)]

In [ ]:
filtered_df

In [ ]:
selected_columns= df[['total claim amount','customer lifetime value']]

In [ ]:
describe_selected_columns= selected_columns.describe

In [ ]:
describe_selected_columns

In [ ]:
means=selected_columns.mean()

In [ ]:
means

In [ ]:
q=df['total claim amount'].quantile(q=0.75)
print(q)

#q=df['total claim amount'].quantile(q=0.50)
#print(q)


q=df['customer lifetime value'].quantile(q=0.25)
print(q)

#mean_value = df['customer lifetime value'].mean()

#print(mean_value)


#Analyse this!!!
#str=df.loc[df['ST']>q] 

#str=str.reset_index(drop=True)

### Extra exercise

In [ ]:
import numpy as np

In [ ]:
s="Hello Wordl"

word_list = s.split()

print(word_list)

In [ ]:
string_value = "Hello, how are you?"
word_list = string_value.split()
print(word_list)

In [ ]:
s = "Hello, how are you?"
word_list = s.split()
print(word_list)

In [ ]:
last_word = word_list[-1]

In [ ]:
len(last_word)

In [ ]:
def length(x)

    sent=x.split()
    last_word=sent[-1]
   
  return(len(last_word))

In [ ]:
df["customer lifetime value"] = df["customer lifetime value"].apply(lambda x: x.replace('%', '') if type(x) == str else x)

#df["customer lifetime value"] = df["customer lifetime value"].str.replace("%","")

df["number of open complaints"] = df["number of open complaints"].apply(lambda x: x.split("/")[1] if type(x)==str  else x)

In [55]:
s = "23/25/28?"
word_list = s.split("/")
print(word_list)

['23', '25', '28?']

In [57]:
s = "23/25/28?"
word_list = s.split("?")
print(word_list)

['23/25/28', '']

In [58]:
threshold = 8
columns_to_check = ['customer_id', 'state', 'gender', 'education', 'customer lifetime value', 'income', 'monthly premium auto',
                    'number of open complaints', 'policy type', 'vehicle class', 'total claim amount']
df_dropped = df.dropna(subset=columns_to_check, thresh=df.shape[1] - threshold)

In [59]:
columns_to_check

['customer_id',
 'state',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'vehicle class',
 'total claim amount']

In [66]:
import random

letters = ["a","b","c"]

random_letters = random.choice(letters)

print(random_letters)

b