# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [36]:
# your code goes here

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [37]:
df = pd.read_csv('Data_creaned_by_teachers.csv')

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [38]:
df.columns

Index(['region', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'month', 'employment_status',
       'gender', 'income', 'location_code', 'marital_status',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [77]:
nw_df= df[(df["total_claim_amount"]>1000) & (df['response'] == 'yes')]

In [78]:
nw_df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
189,west region,11009,yes,premium,bachelor,1/24/11,jan,employed,f,51643,...,43,0,1,corporate auto,corporate l3,offer2,agent,1358,luxury car,medsize
236,north west,11009,yes,premium,bachelor,1/24/11,jan,employed,f,51643,...,43,0,1,special auto,special l3,offer2,agent,1358,luxury car,medsize
419,north west,25807,yes,extended,college,2/13/11,feb,employed,f,71210,...,89,1,2,personal auto,personal l2,offer1,branch,1027,luxury car,small
442,central,13736,yes,premium,master,2/13/11,feb,disabled,f,16181,...,79,0,8,personal auto,personal l2,offer1,web,1261,suv,medsize
475,west region,17622,yes,premium,high school or below,2/18/11,feb,unemployed,m,41167,...,10,0,3,corporate auto,corporate l2,offer4,branch,1814,luxury suv,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10032,central,13736,yes,premium,master,2/13/11,feb,disabled,f,16181,...,79,0,8,personal auto,personal l3,offer1,web,1261,suv,medsize
10143,north west,3508,yes,extended,college,1/5/11,jan,medical leave,m,20978,...,96,1,1,personal auto,personal l2,offer2,branch,1176,four-door car,small
10165,north west,10963,yes,premium,high school or below,2/8/11,feb,employed,m,55687,...,91,0,1,corporate auto,corporate l2,offer1,agent,1324,luxury suv,medsize
10353,north west,7840,yes,extended,college,1/14/11,jan,employed,m,58414,...,24,2,1,personal auto,personal l3,offer2,agent,1008,four-door car,medsize
10492,north west,5619,yes,premium,high school or below,1/26/11,jan,unemployed,m,88239,...,5,0,1,personal auto,personal l3,offer2,web,1027,suv,medsize

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

In [93]:
resul02 = nw_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

In [79]:
df02= df.groupby(["policy_type", "gender"]).filter(lambda x: x["total_claim_amount"].mean() and (x['response'] == 'yes'))

TypeError: filter function returned a Series, but expected a scalar bool

In [44]:
filtered_df = df[df['response'] == 'Yes']
result = filtered_df.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

In [45]:
result

Series([], Name: total_claim_amount, dtype: float64)

In [87]:
df_yes= df[df["response"] == "yes"]

In [88]:
df_yes

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
5,west region,4745,yes,basic,high school or below,2/14/11,feb,employed,m,50549,...,73,0,7,personal auto,personal l3,offer1,agent,292,four-door car,medsize
8,west region,5989,yes,premium,college,1/19/11,jan,employed,m,66839,...,24,0,1,personal auto,personal l1,offer2,branch,739,sports car,medsize
15,west region,4626,yes,basic,master,1/16/11,jan,employed,f,79487,...,87,0,1,special auto,special l1,offer2,branch,547,suv,medsize
19,west region,3746,yes,extended,college,2/26/11,feb,employed,f,41479,...,38,1,1,personal auto,personal l2,offer2,call center,19,two-door car,large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10624,central,5979,yes,extended,high school or below,2/7/11,feb,employed,f,57693,...,56,0,3,personal auto,personal l1,offer2,agent,547,four-door car,medsize
10629,east,5308,yes,extended,bachelor,1/24/11,jan,employed,m,40178,...,13,0,1,special auto,special l2,offer1,agent,652,suv,medsize
10632,east,8382,yes,basic,bachelor,1/27/11,jan,employed,m,25998,...,38,0,2,personal auto,personal l2,offer2,call center,791,four-door car,medsize
10652,west region,5979,yes,extended,high school or below,2/7/11,feb,employed,f,57693,...,56,0,3,personal auto,personal l3,offer2,agent,547,four-door car,medsize
10676,central,9075,yes,basic,master,1/26/11,jan,employed,m,37722,...,23,0,8,personal auto,personal l1,offer1,agent,158,sports car,medsize

In [91]:
result02 = df_yes.groupby(['policy_type','gender'])[['total_claim_amount']].mean()

In [92]:
result02

                       total_claim_amount
policy_type    gender
corporate auto f               434.286585
               m               418.993590
personal auto  f               449.888889
               m               457.582988
special auto   f               450.647059
               m               435.878788

In [51]:

result02 = df.groupby(['policy_type','gender'])['total_claim_amount'].mean()

In [52]:
result02

policy_type     gender
corporate auto  f         398.035073
                m         463.157480
personal auto   f         412.155304
                m         459.095767
special auto    f         457.375527
                m         419.906404
Name: total_claim_amount, dtype: float64

In [82]:
 result02 = df.groupby((['policy_type','gender'])['total_claim_amount'].mean()).filter(lambda x: x['response'] == "yes")

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\espan\AppData\Local\Temp\ipykernel_48520\3719245108.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  result02 = df.groupby((['policy_type','gender'])['total_claim_amount'].mean()).filter(lambda x: x['response'] == "yes")

TypeError: list indices must be integers or slices, not str

In [85]:
 result02 = df.groupby((['policy_type','gender'])['total_claim_amount'].mean()).apply(lambda x: x['response'] == "yes")

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\espan\AppData\Local\Temp\ipykernel_48520\3655548527.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  result02 = df.groupby((['policy_type','gender'])['total_claim_amount'].mean()).apply(lambda x: x['response'] == "yes")

TypeError: list indices must be integers or slices, not str

In [54]:
result02 = df.groupby((['policy_type','gender'])['total_claim_amount'].mean() & df['policy_type','gender']['response'] == "yes")

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\espan\AppData\Local\Temp\ipykernel_48520\2495207.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  result02 = df.groupby((['policy_type','gender'])['total_claim_amount'].mean() & df['policy_type','gender']['response'] == "yes")

TypeError: list indices must be integers or slices, not str

In [55]:
result03 = df[df['response'] == 'Yes'].groupby(['policy_type', 'gender']).agg({'total_claim_amount': 'mean'})

In [56]:
result03

Empty DataFrame
Columns: [total_claim_amount]
Index: []

In [57]:
result = df.groupby(['policy_type', 'gender']).filter(lambda x: (x['response'] == 'Yes').any()).groupby(['policy_type', 'gender']).agg({'total_claim_amount': 'mean'})

In [58]:
result

Empty DataFrame
Columns: [total_claim_amount]
Index: []

In [59]:
result02 = df.groupby(['policy_type','gender'])['total_claim_amount'].mean()

In [60]:
result02

policy_type     gender
corporate auto  f         398.035073
                m         463.157480
personal auto   f         412.155304
                m         459.095767
special auto    f         457.375527
                m         419.906404
Name: total_claim_amount, dtype: float64

In [63]:
result03 = df.groupby(['policy_type','gender']).filter(lambda x: (x['response'] == 'Yes')

SyntaxError: unexpected EOF while parsing (3575290814.py, line 1)

In [64]:
result04 = df.groupby(['policy_type','gender'])['total_claim_amount'].mean() & df.groupby(['policy_type','gender']).filter(lambda x: (x['response'] == 'Yes')

SyntaxError: unexpected EOF while parsing (224929330.py, line 1)

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [84]:
df_cleaned = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [ ]:
df_claned

In [71]:
result03=  df.groupby(['policy_type','region'])['total_claim_amount'].mean()

In [72]:
result03

policy_type     region
corporate auto  central        429.819315
                east           421.845745
                north west     432.838400
                west region    430.474912
personal auto   central        428.053502
                east           443.674221
                north west     430.792520
                west region    442.380864
special auto    central        441.207692
                east           410.800000
                north west     468.678571
                west region    416.955556
Name: total_claim_amount, dtype: float64

In [73]:
result03=  df.groupby(['policy_type','region'])['total_claim_amount'].mean().loc[lambda x: x > 500]

In [74]:
result03

Series([], Name: total_claim_amount, dtype: float64)