In [23]:
import pandas as pd
import getpass
import sqlalchemy as sa
from sqlalchemy import create_engine

In [28]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

Your password:········

In [29]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [30]:
connection_string

'mysql+pymysql://root:pass123@127.0.0.1'

In [31]:
db_connection = sa.create_engine(connection_string)

In [32]:
db_connection

Engine(mysql+pymysql://root:***@127.0.0.1)

2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

-engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.

-month: an integer representing the month for which rental data is to be retrieved.

-year: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [33]:
def rentals_month(engine, month, year):
    
    query = f"SELECT * FROM sakila.rental WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}"
    
    filtered_rental = pd.read_sql_query(query, db_connection)
     
    return filtered_rental

In [34]:
rentals_month(db_connection, 5, 2005)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
1151,1153,2005-05-31 21:36:44,2725,506,2005-06-10 01:26:44,2,2006-02-15 21:30:53
1152,1154,2005-05-31 21:42:09,2732,59,2005-06-08 16:40:09,1,2006-02-15 21:30:53
1153,1155,2005-05-31 22:17:11,2048,251,2005-06-04 20:27:11,2,2006-02-15 21:30:53
1154,1156,2005-05-31 22:37:34,460,106,2005-06-01 23:02:34,2,2006-02-15 21:30:53
1155,1157,2005-05-31 22:47:45,1449,61,2005-06-02 18:01:45,1,2006-02-15 21:30:53

### F string funtion

In [35]:
name= "Tomas"
print(f"Hello dear {name}")

Hello dear Tomas

similar to str function

3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

In [42]:
def rental_count_month(engine, rentals_month, month, year):
    
    query = f"""
    SELECT customer_id, COUNT(*) AS rental_count
    FROM sakila.rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    GROUP BY customer_id
    """
    number_of_rentals = pd.read_sql_query(query, db_connection)
    number_of_rentals.rename(columns={'rental_count': f'rentals_{month}_{year}'}, inplace=True)
 
    
    return number_of_rentals

In [43]:
number_of_rentals(db_connection, 5, 2005)

NameError: name 'number_of_rentals' is not defined

4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [ ]:
def compare_rentals(engine, rentals_id, month, year):
    
    query = f""" select customer.customer_id, count(rental.rental_id) as number_of_rentals
                 from sakila.customer
                 join rental
                 on  rental.customer_id = customer.customer_id
                 WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
                 GROUP BY customer_id 
                ""